@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;400&family=Orbitron:wght@700&family=Pacifico&family=Rubik+Dirt&family=Silkscreen&display=swap');


* {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/mann.jpg') no-repeat center fixed ;
    background-size: cover;
}

.navbar {
    background-color:transparent;
    width: 400px; 
    height: 100vh ;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.img img{
    padding-bottom: 50%;
    width: 100%;
    height: 100%px;
}

.navbar ul li {
    padding-top: 20%;
    width: 100%;
    
    list-style-type: none;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #fff ;
    width: 100px;
    font-family: "Karla";
    
}

.navbar ul li a:hover {
    color: #F7931E;
}

.contens {
    display: flex;
    flex-direction: column;
    padding: 3%;
    width: 100%;
}
.ord table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.ord th {
    position: sticky;
    top: 0;
    background-color: transparent;
    padding: 1%;
    font-family: "Karla";
    color: aliceblue;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.ord td {
    border-bottom: 1px solid rgba(50, 50, 93, 0.25);
    padding: 20px 30px;
    word-break: break-all;
    text-align: center;
    font-family: "Karla";
    font-weight: bold;
    font-size: 15px;
}

.ord h2 {
    font-family: "Orbitron";
    margin-bottom: 8px;
    padding-right: 3%;
    color: #fff;
}

.ord .upper {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    padding: 1%;
    padding-left: 2%;
    
}

.ord .upper button {
    padding-left: 2%;
    padding-right: 2%;
    margin-right: 2%;
}


#active {
    font-weight: bold;
    color: rgb(63, 238, 89);
}

.blur {
    filter: blur(5px);
}

.assign {
    width: 90px;
}



.chief {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    background: #F7931E;
    width: 300px;
    height: 400px;
    font-family: "Karla";
    left: 55% ;
    top: 0%;
    transform: translate(-50%, -50%) scale(0.1);
    position: absolute;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    color: #fff;
    border-radius: 30px;
    text-align: center;
}

.active {
    visibility: visible;
    top: 55%;
    transform: translate(-50%, -50%) scale(1);
}

.chief .table {
    overflow-y: auto;
    height: 280px;
}

.chief ::-webkit-scrollbar {
    width: 2vh;
}


.chief table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    overflow: scroll;
    
}

.chief th {
    position: sticky;
    background-color: #F7931E;
    padding: 1%;
    font-family: "Karla";
    color: aliceblue;
}
.chief td {
    border-bottom: 1px solid #ffffff;
    padding: 20px 30px;
    word-break: break-all;
    text-align: center;
    font-family: "Karla";
    font-weight: bold;
    font-size: 15px;
    
}

.chief h2 {
    padding: 10%;
}

.employees {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    background: #F7931E;
    width: 300px;
    height: 400px;
    font-family: "Karla";
    left: 55% ;
    top: 0%;
    transform: translate(-50%, -50%) scale(0.1);
    position: absolute;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    color: #fff;
    border-radius: 30px;
    text-align: center;
}

.active {
    visibility: visible;
    top: 55%;
    transform: translate(-50%, -50%) scale(1);
}

.employees .table {
    overflow-y: auto;
    height: 280px;
}

.employees ::-webkit-scrollbar {
    width: 2vh;
}


.employees table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    overflow: scroll;
    
}

.employees th {
    position: sticky;
    background-color: #F7931E;
    padding: 1%;
    font-family: "Karla";
    color: aliceblue;
}
.employees td {
    border-bottom: 1px solid #ffffff;
    padding: 20px 30px;
    word-break: break-all;
    text-align: center;
    font-family: "Karla";
    font-weight: bold;
    font-size: 15px;
    
}

.employees h2 {
    padding: 10%;
}

.addcheif {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #F7931E;
    width: 300px;
    height: 400px;
    font-family: "Karla";
    left: 0% ;
    top: 55%;
    transform: translate(-50%, -50%) scale(0.1);
    position: absolute;
    visibility: hidden;
    transition: transform 0.4s, left 0.4s;
    color: #fff;
    border-radius: 30px;
}

.active {
    visibility: visible;
    left: 55%;
    transform: translate(-50%, -50%) scale(1);
}

.addcheif form {
    display: flex;
    flex-direction: column;
    padding: 15%;

}
.addcheif form input {
    padding: 6%;
    margin: 5%;
    border: none;
    border-bottom: #F7931E solid 2px;
}

.addcheif span {
    color: #fff;
    font-family: "Orbitron";
}

.addcheif h2 {
    text-align: center;
}

.addcheif button {
    padding: 2%;
    margin-top: 2%;
    width: 90px;
    margin-left: 11px;
}

.addstuff {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #F7931E;
    width: 300px;
    height: 400px;
    font-family: "Karla";
    left: 0% ;
    top: 55%;
    transform: translate(-50%, -50%) scale(0.1);
    position: absolute;
    visibility: hidden;
    transition: transform 0.4s, left 0.4s;
    color: #fff;
    border-radius: 30px;
}

.active {
    visibility: visible;
    left: 55%;
    transform: translate(-50%, -50%) scale(1);
}


.addstuff form {
    display: flex;
    flex-direction: column;
    padding: 15%;

}
.addstuff form input {
    padding: 6%;
    margin: 5%;
    border: none;
    border-bottom: #F7931E solid 2px;
}

.addstuff span {
    color: #fff;
    font-family: "Orbitron";
}

.addstuff h2 {
    text-align: center;
}

.addstuff button {
    padding: 2%;
    margin-top: 2%;
    width: 90px;
    margin-left: 11px;
}

.addfood button {
    padding: 2%;
    margin-top: 2%;
    width: 90px;
    margin-left: 11px;
}

.addfood {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #F7931E;
    width: 300px;
    height: 400px;
    font-family: "Karla";
    left: 0% ;
    top: 55%;
    transform: translate(-50%, -50%) scale(0.1);
    position: absolute;
    visibility: hidden;
    transition: transform 0.4s, left 0.4s;
    color: #fff;
    border-radius: 30px;
}

.active {
    visibility: visible;
    left: 55%;
    transform: translate(-50%, -50%) scale(1);
}

.addfood form {
    display: flex;
    flex-direction: column;
    padding: 10%;
}

.addfood form input {
    padding: 3%;
    margin: 5%;
    border: none;
    border-bottom: #F7931E solid 2px;
}

.addfood span {
    color: #fff;
    font-family: "Orbitron";
}

.addfood h2 {
    text-align: center;
    margin-top: 3%;
}

.updateMan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #F7931E;
    width: 300px;
    height: 400px;
    font-family: "Karla";
    left: 0% ;
    top: 55%;
    transform: translate(-50%, -50%) scale(0.1);
    position: absolute;
    visibility: hidden;
    transition: transform 0.4s, left 0.4s;
    color: #fff;
    border-radius: 30px;
}

.active {
    visibility: visible;
    left: 55%;
    transform: translate(-50%, -50%) scale(1);
}

.updateMan h2 {
    text-align: center;
    margin-top: 3%;
}

.updateMan form input {
    padding: 3%;
    margin: 5%;
    border: none;
    border-bottom: #F7931E solid 2px;
}

.updateMan form {
    display: flex;
    flex-direction: column;
    padding: 10%;
}



